@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}
a {
	text-decoration: none;
	color: black;
}

.blind {
	display : none;
}
.page {
	position:relative;
	float: right;
	margin-right: 40px;
}
#newLetter {
	color: red;
}
#top_fixer {
	top: 10px;
	position:fixed;
	width: 100%;
	height: 70px;
	line-height: 70px;
	border-bottom: 1px solid #DADCE0;
	
}

#top_title {
	display: inline-block;
	margin-left: 30px;
}

#login_area {
	display: inline-block;
	margin-right: 30px;
	position:relative;
	text-align: right;
	float: right;
}
#article {
	margin-top: 100px;
}

#login_hover:hover {
	color: 
}

body {
  padding:1.5em;
  background: #f5f5f5
}

table {
  border: 1px #a39485 solid;
  font-size: .9em;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}

th {
  text-align: left;
}
  
thead {
  font-weight: bold;
  color: #fff;
  background: #73685d;
}
  
 td, th {
  padding: 1em .5em;
  vertical-align: middle;
}
  
 tbody td {
  border-bottom: 1px solid rgba(0,0,0,.1);
  background: #fff;
}

a {
  color: #73685d;
}
  
 @media all and (max-width: 768px) {
    
  table, thead, tbody, th, td, tr {
    display: block;
  }
  
  th {
    text-align: right;
  }
  
  table {
    position: relative; 
    padding-bottom: 0;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
  }
  
  thead {
    float: left;
    white-space: nowrap;
  }
  
  tbody {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    white-space: nowrap;
  }
  
  tr {
    display: inline-block;
    vertical-align: top;
  }
  
  th {
    border-bottom: 1px solid #a39485;
  }
  
  td {
    border-bottom: 1px solid #e5e5e5;
  }
  
  
  }